.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i{
  color: rgba(43, 43, 253, 0.842);
}

.season-display.summer i{
  color: orangered;
}

.winter {
  background-color: rgba(176, 221, 252, 0.952);
}

.summer {
  background-color: peachpuff;
}
